<%= render "shared/header" %>

<div class="main">
  <div class="comment-top">
   

  <% if @comments[0] == nil %>
    <div class="texts">口コミ投稿ができます</div>
  <% else %>
        <% @comments.each do |comment| %>
        <div class="comment-list">

        <%= link_to "#", class:"link-texts" do %>
          <div class="comment-wrapper">
            <div class="comment-head">
              <%= image_tag "22352894.png", class:"comment-icon"%>
              <div class="link-texts">評価：</div>
              <div class="evaluation">
              <%= comment.evaluation.name %>
              </div>
            </div>
            <div class="comment-body">
              <div class="link-texts">
              <%= comment.comment %>
              </div>
              <%= image_tag comment.image, class: "comment-image" if comment.image.attached? %>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
   <% end %>

  </div>
  
  <%= render "shared/create" %>

</div>


<%= render "shared/footer" %>
