
  <%= form_with model: @comment, url: comments_path, class: 'comment', local: true do |f| %>

    <div class="c-wrapper">
    <%= render 'shared/error_messages', model: f.object %>

    <div class="comment-main">
      <div class="weight-bold-text">
      <span>評価：</span>
        <%= f.collection_select(:evaluation_id, Evaluation.all, :id, :name, {}, {class:"select"}) %>
          <span class="indispensable">*必須</span>
      </div>
        <%= f.text_area :comment, class:"comment-text", placeholder:"コメント(必須)" %>
        <div class="coment-bottom">
        <%= f.file_field :image, class: "comment-img" %>
        <%= f.submit "送信", class:"comment-btn" %>
        </div>
    </div>
    </div>

  <% end %>
