<footer class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>旨安酒場 角助</h2>
      <ul>
        <li><%= link_to '営業時間', "#", class: "footer-link" %></li>
        <li><%= link_to '定休日', "#", class: "footer-link" %></li>
        <li><%= link_to '総席数', "#", class: "footer-link" %></li>
        <li><%= link_to '個室', "#", class: "footer-link" %></li>
        <li><%= link_to 'クレジットカード', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>うっとら</h2>
      <ul>
        <li><%= link_to 'ディナー 17:00~23:00(L.O.22:30)', "#", class: "footer-link" %></li>
        <li><%= link_to '日曜日', "#", class: "footer-link" %></li>
        <li><%= link_to '30席(貸切可能数 10~20名)', "#", class: "footer-link" %></li>
        <li><%= link_to '座席個室あり(1室/20名様用/パーテーション仕切り)', "#", class: "footer-link" %></li>
        <li><%= link_to 'VISA MasterCard JCB UC', "#", class: "footer-link" %></li>
      </ul>
    </div>
    
</footer>