<div class = 'top-page-header'>
  <div class="menu-text" id="menu">menu
    <div class="menu-wrapper hidden" id="pull-down">
      <div class="menus">
         <%= link_to "メニュー一覧", "#", class:"pull-down-menu", id:"first" %>
         <%= link_to "予約フォーム", forms_path, class:"pull-down-menu", id:"second" %>
         <%= link_to "口コミ", comments_path, class:"pull-down-menu", id:"third" %>
         <%= link_to "スタッフ紹介", "#", class:"pull-down-menu", id:"four" %>
         <%= link_to "TOPへ", root_path, class:"pull-down-menu", id:"five" %>
      </div>
    </div>
  </div>
</div>